.music-card{
    height: 150px;
    cursor: pointer;
    .image-card{
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        img{
            height: 100%;
        }
    }
    .text{
        text-align: center;
        padding: 1rem 0;
    }
}