.navigation{
   height: 100vh;
   width: 15vw;
   display: flex;
   flex-direction: column;
   color: white;
   padding: 1rem 0;
   .user-image{
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       .image{
           height: 60%;
           width: 60%;
           margin-bottom: 1rem;
       }
   }
   nav{
       margin-top: 1rem;
       overflow: hidden;
       a{
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;
       }
       li{
           list-style: none;
           display: flex;
           height: 100%;
           align-items: center;
           padding:1rem;
           cursor: pointer;
          
           &:hover{
               background-color: #c8c5f7;
           }
           i{
               padding-right: 1rem;
           }
       }
   }
}
@media screen and (max-width:650px){
    .navigation{
        p{
           display: none;
        }
        li{
            margin-top: 2rem;
            width: 100%;
            justify-content: center;
            span{
                display: none;
            }
            i{
                transform: scale(1.3);
                padding-left: 0.5rem;
            }
        }
    }
}