.navigation{
   height: 100vh;
   background-color: #6c63ff;
   width: 15vw;
   display: flex;
   flex-direction: column;
   color: white;
   padding: 1rem 0;
   .user-image{
       display: flex;
       flex-direction: column;
       align-items: center;
       .image{
           height: 60%;
           width: 60%;
           margin-bottom: 1rem;
       }
   }
   nav{
       margin-top: 1rem;
       overflow: hidden;
       li{
           list-style: none;
           display: flex;
           height: 100%;
           align-items: center;
        //    width: 100%;
           padding:1rem;
           cursor: pointer;
           a{
               text-decoration: none;
               color: white;
               width: 100%;
           }
           &:hover{
               background-color: #c8c5f7;
           }
           i{
               padding-right: 1rem;
           }
       }
   }
}