.explore{
    height: 70vh;
    overflow-y: scroll;
    padding: 1rem;
    &::-webkit-scrollbar {
        display: none;
      }
    .section{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
        &>*{
            margin: 1rem 0;
        }
    }
}