.explore{
    height: 70vh;
    overflow-y: scroll;
    padding: 1rem;
    &::-webkit-scrollbar {
        display: none;
      }
    .section{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        justify-items: center;
        &>*{
            margin: 1rem 0;
        }
    }
}
@media screen and (max-width:450px){
    h1{
        font-size: medium;
    }
}