.spinner {
    pointer-events: none;
    width: 7rem;
    height: 7rem;
    border: 0.4em solid transparent;
    border-color: #eee;
    border-top-color: #6c63ff;
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
    margin: 20% auto;
  }
  
  @keyframes loadingspin {
    100% {
      transform: rotate(360deg);
    }
  }